/********************************************/
/*                  GLOBALES                */
/********************************************/
:root {
	--paddingCostado: 70px;
    --blanco: #fff;
	--colorTextoApagado: #adb2ba;
    --backgroundColor: #282828;
	--tamanoFuenteLogo: 26px;
	--tamanoFuenteChico: 16px;
	--tamanoFuenteMedio: 36px;
	--tamanoFuenteGrande: 70px;
	--fuenteNormal: 'Altone';
	--fuenteGorda: 'Altone Bold';
}	
	
@font-face {
    font-family: 'Altone';
    src: url('../fonts/AltoneTrial-Regular.ttf') format('truetype');
    font-style:	normal;
    font-weight: 400px;
  }
  @font-face {
    font-family: 'Altone Bold';
    src: url('../fonts/AltoneTrial-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600px;
  }
/* Reset */
* {
	padding: 0;
	margin: 0;
 	box-sizing: border-box; 
}
html {
	scroll-behavior: smooth;
}
body {
	background-image: url('../img/sol.jpg');
	background-repeat: no-repeat;
	font-family: 'Altone', sans-serif;
	color: var(--blanco);
    background-color: #000;
	max-width: 94%;
	margin: 0 auto;
}
.titulosRojos {
	color: #f70838;
	font-size: var(--tamanoFuenteChico);
	line-height: 30px;
}
.iconosRojos {
	color: #f70838;
}
.divisor {
	background-color: var(--backgroundColor); 
	height: 110px;
}
.divisorOculto {
	display: none;
}
a {
	text-decoration: none;
	color: #fff;
}
/* OCULTAMOS BOTON HAMBURGUESA */
.botonMenu {
    display: none;
}
a {
	text-decoration: none;
}
.numeros {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	/* line-height: 30px; */
}

/*******************************************/
/*                 NAVBAR                  */
/*******************************************/

.navbar {
	display: flex;
	justify-content: space-between;
	color: #fff;
	border-radius: 20px 20px 0 0;
	width: 94%;
	position: fixed;
	z-index: 100; 
	padding-bottom: 5px;
	padding: 40px var(--paddingCostado) 0 var(--paddingCostado);
	background-color: var(--backgroundColor);
	border-bottom: #202020 1px solid;	
}
.logoyTexto {
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
	width: 210px;
}
.logo  {
	color: #fff;
	float: left;
	padding-top: 10px;
	font-size: var(--tamanoFuenteLogo);
	font-family: 'Altone Bold';
}
.navbar ul {
	margin-top: 20px;
	list-style: none;
	float: right;
}
.navbar ul li {
	float: left;
}
.navbar ul li a {
	display: block;
	padding: 4px;
	text-align: center;
    font-size: 13px;
	color: var(--colorTextoApagado);
}
.navbar ul li a:hover {
	color: #ffffff;
}
.btnDownload {
	height: 40px;
	width: 170px;
	margin-top: 10px;
	font-size: 14px;
    border: 0px;
    background-color: #EF0850;
    color: white;
	border-radius: 20px;
	position: relative;
}
.btnDownload:hover:after {
	background: rgba(255, 255, 255, 0.3);
	transition: all 0.3s ease;
}
.btnDownload:hover {
	background-color:  #a50135;	
	transition: all 1s ease;
}
.botonMenu {
  cursor: pointer;	
}
.icon-cuadro:hover:after {
	background: rgba(255, 255, 255, 0.3);
	transition: all 0.2s ease;
}
.icon-cuadro:hover {
	background-color:  #a50135;	
	transition: all 0.5s ease;
}

.colorTexto{
	color: #c8d8e8;
}

/************************************/
/*            ZONA   HERO           */
/************************************/

.contenedorHero {
    display: flex;
	padding: 230px var(--paddingCostado) 50px var(--paddingCostado);
	background-color: var(--backgroundColor); 
	border-bottom: #202020 2px solid;	
}
.showcaseRowTitle {
	max-width: 60%;
	word-wrap: break-word;
}
.showcaseImg {
	width: 40% fixed;
}
.fotomodelo {
	width: 100%;
	border-radius: 0 0 10px 10px;
}
.hello2 {
	font-size: var(--tamanoFuenteLogo);
	color: #f70838;
}
.hello {
    font-size: var(--tamanoFuenteLogo);
	font-family:  'Altone';
	margin-bottom: 4px;

}
.texto-grande {
	font-family: 'Altone Bold';
    font-size: var(--tamanoFuenteGrande);
}
.textoCopyright {
	font-size: var(--tamanoFuenteChico);
}
.designer {
	margin-bottom: 15px;
	font-family:  'Altone';
    font-size: var(--tamanoFuenteMedio); 
	margin-bottom: 24px;
}
.marginR20 {
	padding-right: 10px;
}
.textoNormal {
	font-size: var(--tamanoFuenteChico);
	line-height: 28px;
	color: var(--colorTextoApagado);
}
.sigueme {
	margin-top: 60px;
	font-size: 18px; 
}
.boximagenes{
	padding-top: 34px;
    margin-bottom: 90px;
}
.boxpuntajes {
    display: flex;
	justify-content: space-between;
	padding: 0 60px 0 0;

}
.icon-cuadro {
    border-radius: 5px;
    padding: 20px;
    background-color: #181828;
	font-size: 20px;
    margin: 0 12px 0 0;
	color: #fff;
}
.puntajes {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.puntaje {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 13px;
}

.textopuntaje {
    font-size: 12px;
}


/*******************************************/
/*               SERVICIOS                 */
/*******************************************/
.mainServices{
	padding: 0px var(--paddingCostado) 30px var(--paddingCostado);
	border-bottom: #202020 2px solid;	
	border-top: 0px;
    border-right: 0px;
    border-left: 0px;
	background-color: var(--backgroundColor); 
}

.textogrande {
	font-family: 'Altone Bold';
    font-size: var(--tamanoFuenteGrande);
/*	margin-left: 10px; */
	margin-bottom: 20px;
}
.serviciosTitulo {
	line-height: 50px;
	font-size: 1.1rem;
}
.serviciosTextoNormal {
	font-size: 0.7em;
	line-height: 20px;
}
.cajasServicios{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.cajaServiciosBox {
	display: flex;
	flex-direction: column;
	width: 364px;
	text-align: left;
	border-radius: 5px;
	padding: 30px;
	height: 250px;
	margin: 10px 0 10px 0;
	box-shadow: 1px 1px 3px 4px rgba(0.1, 0.1, 0.1, 0.1);    
	background: rgb(48,48,48);
	background: linear-gradient(130deg, rgba(48,48,48,1) 0%, rgba(41,41,41,1) 100%);
}
.pc {
	display: block;
	font-size: 30px;
}
/**********************************/
/*       ACTIVIDAD RECIENTE       */
/**********************************/

.portfolio {
	text-align: center;
	padding: 0px var(--paddingCostado) 30px var(--paddingCostado);
	border-bottom: #202020 2px solid;	
	border-top: 0px;
    border-right: 0px;
    border-left: 0px;
	background-color: var(--backgroundColor); 
}

.portfolioTxtRed {
	color: #f70838;
	font-size: 12px;
	line-height: 30px;
}
.portfolioActividadReciente {
	font-family: 'Altone Bold';
    font-size: 50px;
	margin-left: 10px;
	margin-bottom: 29px;
	border-top: 500px;
}
.portfolioBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 10px;
}
.workImgBox {
	width: 370px;
    text-align: center;
}
.work-img {
	width: 96%;
	border-radius: 3%; 
	margin-bottom: 15px;
}
.work-img:hover {
	filter:blur(3px);
}
.textoImagen {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}
.portfolioBtnDark {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 250px;
	height: 58px;
	color: #ebf2fc;
	font-size: 15px;
	border: 0;
	border-radius: 5px;
	background-color: #181818;
	box-shadow: 1px 1px 3px 4px rgba(0.1, 0.1, 0.1, 0.1);    
	margin: 0 auto;
}

.flecha {
    margin-left: 10px;
	font-size: 30px;
}

/**********************************/
/*          EXPERIENCIA           */
/**********************************/

.mainExperiencia{
    padding: 0px var(--paddingCostado) 0px var(--paddingCostado);
	display: flex;
	flex-direction: column;
	border-bottom: #202020 2px solid;	
	border-top: 0px;
    border-right: 0px;
    border-left: 0px;
	background-color: var(--backgroundColor); 
}
.contenedorTitulo {
	text-align: center;
}
.subtituloExperiencia {
	color: #f70838;
	font-size: 11px;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 3px;
}
.experienciaContenedor {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 30px;
}
.columna {
	display: flex;
	flex-direction: column;
}
.expCajaLineaVertical {
	background-image: url('../img/fondodiv.png'); 
	background-repeat: no-repeat;
	width: 554px; 
	height: 220px; 
	padding-left: 26px;
	padding-bottom: 20px;
}
.experienciaTxtMedio {
	font-family: 'Altone';
    font-size: var(--tamanoFuenteMedio);
}
.experiencia-titulo {
	line-height: 15px;
	font-size: 24px;
}
.experienciaTextoNormal {
	font-size: 0.7em;
	line-height: 20px;
}
.experienciaTitulo3 {
	margin-bottom: 20px;
}
.experienciaNumeros {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 30px;
    color: #f70838;
    font-size: var(--tamanoFuenteChico);
}
.marginAbajo {
	margin-bottom: 30px;
}
.marginArribaAbajo {
	margin: 0px 0 0px 0;
}
.marginArriba {
	margin-top: 30px;
}
.cajaExperienciaBox {
	color: #c8d8e8;
	float: right;
	height: 190px; 
	margin-left: 10px;
	padding: 30px;
	text-align: left;

	border-radius: 5px;
	box-shadow: 1px 1px 3px 4px rgba(0.1, 0.1, 0.1, 0.1);    
	background: rgb(48,48,48);
	background: linear-gradient(130deg, rgba(48,48,48,1) 0%, rgba(41,41,41,1) 100%);
} 
.academia {
	font-size: 14px;
	margin-top: 8px;
	color: #adb2ba;
}
.margenSuperiorExperiencia {
	margin-top: 17px;
	color: #adb2ba;
}
/********************************/
/* 			TESIMONIOS 			*/
/********************************/

.testimonios {
	display: flex;
	flex-direction: column;
	padding: 0px var(--paddingCostado) 0px var(--paddingCostado);
	border-bottom: #202020 2px solid;	
	border-top: 0px;
    border-right: 0px;
    border-left: 0px;
	padding-bottom: 50px;
	background-color: var(--backgroundColor); 
}
.testimoniosSubtitulo {
	font-family: 'Altone Bold';
    font-size: var(--tamanoFuenteGrande);
	margin-bottom: 50px;
}
.testimoniosContenedor {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.textoChico {
	font-size: 13px;
	line-height: 18px;
	color: var(--colorTextoApagado);
}
.quote {
    color: #f70838;  
	rotate: 180deg;
	font-size: 20px;
}
.star{
	color: #f70838;
	font-size: 13px;
}

.testimonios-box {
	display: block;
	color: #c8d8e8;
	text-align: left;
	height: 370px;
	padding: 30px;
	margin: 9px;
	width: 355px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px 4px rgba(0.1, 0.1, 0.1, 0.1);    
	background: rgb(48,48,48);
	background: linear-gradient(130deg, rgba(48,48,48,1) 0%, rgba(41,41,41,1) 100%);
}
.margenAbajo {
	margin-bottom: 20px;
}
.estrellasContenedor {
	display: flex;
    float: right;
    margin-bottom: 20px;
}
.imagenPersona {
	margin-top: 30px;

}
.nombrePersonaTestimonio {
	font-size: 15px;
}
.imgTestimonio {
	border-radius: 80px;
	width: 35px;
	float: left;
	margin-right: 15px;
}

/********************************/
/* 			CLIENTES  			*/
/********************************/

.clientes{
	display:flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	background-color: var(--backgroundColor); 
	border-bottom: #202020 2px solid;	
	padding-bottom: 50px;
	padding: 0 var(--paddingCostado) 0 var(--paddingCostado);

}
.clientesTitulos {
	text-align: center;
}
.clienteSubtitulo {
	font-family: 'Altone Bold';
    font-size: 50px;
	margin-left: 10px;
	margin-bottom: 20px;
}
.contenedorClientes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.clientes-box{
	display: flex;
	align-items: center;
	justify-content: center;
    width: 260px;
    height: 140px;
	margin: 0 auto;
	color: #c8d8e8;
	text-align: center; 
	margin: 10px;
	border-radius: 5px;
	background-color: red;
	box-shadow: 1px 1px 3px 4px rgba(0.1, 0.1, 0.1, 0.1);    
	background: rgb(48,48,48);
	background: linear-gradient(130deg, rgba(48,48,48,1) 0%, rgba(41,41,41,1) 100%);
	}
.contenedorClientes img {
	width: 210px;
    margin-top: 0 auto;
}


/********************************/
/* 			CONTACTO  			*/
/********************************/

.contacto {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: #202020 2px solid;	
	border-top: 0px;
    border-right: 0px;
    border-left: 0px;
	padding: 0 var(--paddingCostado) 70px var(--paddingCostado);
	background-color: var(--backgroundColor); 
}
.contenedorGrupoCampos{
	display: flex; 
	justify-content: space-between;
	flex-wrap: wrap;
	padding-right: 15px;
}

.contactoTitulos {
	text-align: center;
}

.contactoContenedorTotal {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 20px;
}
.contenedorDatos {
	display: flex;
	flex-direction: column; 
	justify-content: space-between;

	width: 35%;
}
.contactoDatos {
	font-size: 10px;
	height: 150px;
	padding: 10px;
	text-align: center;
	margin: 0px 20px 20px 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px 4px rgba(0.1, 0.1, 0.1, 0.1);    
	background: rgb(48,48,48);
	background: linear-gradient(130deg, rgba(48,48,48,1) 0%, rgba(41,41,41,1) 100%);
	}
.contactoDatosFinal {
	font-size: 10px;
	height: 150px;
	padding: 10px;
	text-align: center;
	margin: 0px 20px 0px 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px 4px rgba(0.1, 0.1, 0.1, 0.1);    
	background: rgb(48,48,48);
	background: linear-gradient(130deg, rgba(48,48,48,1) 0%, rgba(41,41,41,1) 100%);
	}
.contenedorForm {
	width: 65%;
	padding-top: 20px;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: 1px 1px 3px 4px rgba(0.1, 0.1, 0.1, 0.1);    
	background: rgb(48,48,48);
	background: linear-gradient(130deg, rgba(48,48,48,1) 0%, rgba(41,41,41,1) 100%);
	}

.nombre, .email {
	font-size: var(--tamanoFuenteChico);
	padding: 14px;
	margin: 20px 0px 0px 20px;
	border-radius: 5px;
	background-color:#161616;
	border: 0;
	color: #fff;
	outline: none;
	width: 47%;
}
.nombre:focus {
	background-color:#242424;
}
.email:focus {
	background-color:#242424;
}
.telefono:focus {
	background-color:#242424;
}
.asunto:focus {
	background-color:#242424;
}
.comentario:focus {
	background-color:#242424;
}
.telefono, .asunto
 {
	font-size: var(--tamanoFuenteChico);
	padding: 8px;
	margin: 20px 0px 0px 0px;
	border-radius: 5px;
	background-color:#181818;
	border: 0;
	color: #fff;
	outline: none;
	width: 47%;
}
.comentario {
	padding: 14px;
	margin: 20px 0px 30px 20px;
	font-size: var(--tamanoFuenteChico);
	font-family: var(--fuenteNormal);
	border-radius: 5px;
	background-color: #181818;
	border: 0;
	color: #fff;
	outline: none;
	width: 100%;
}
.contactoIcon {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
.frm-icon {
	color: #f70838;
	font-size: 28px;
	margin: 0px auto;
	line-height: 40px;
}
.contactoMensaje {
	margin: 0px 0 20px 20px;
	font-size: 8px;
	line-height: 20px;
}
.btn-enviar {
	text-align: center;
	width: 270px;
	color: #ebf2fc;
	height: 55px;
	top:50%;
	left: 50%;    
	border: 0;
	border-radius: 5px;
	background-color: #181818;
	font-size: var(--tamanoFuenteChico);
}
.contactoTexto {
	color: #c8d8e8;
	font-size: var(--tamanoFuenteChico);
}
.bi-send {
	margin-left: 10px;
}
.contactoEnviar {
	margin: 0 auto;
	text-align: center;
	color: #c8d8e8;
}

/********************************/
/* 			 FOOTER 			*/
/********************************/
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--backgroundColor);
	padding: 50px var(--paddingCostado) 0 var(--paddingCostado);
	border-radius: 0 0 20px 20px;
}
.footerLoguito {
	text-align: center;
}
.footer-contenedor-iconos {
	padding: 20px;
	margin-top: 20px;
}
.textoCopyright {
	line-height: 15px;
	padding-top: 10px;
	font-size: 9px;
	padding-bottom: 50px;
}

/***************************************/
/*             ZONA RESPONSIVA         */
/***************************************/
/* La zona responsiva no se hizo calculando 
resoluciones específicas, si no que, a medida que
se iba reduciendo se iba corrigiendo hasta llegar
a la mínima */

/* Tratamiento de NavBar y activación divs ocultos */

@media (max-width: 1080px) {
	.navbar  {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.showcaseImg {
		display: none;
	}
	.navbar ul {
		margin-top: 5px;
	}
	.showcaseRowTitle {
		max-width: 100%;
	}
	.contenedorHero{
		padding-top: 200px;
	} 
	.divisorOculto {
		display: block;
	}
}




@media (max-width: 1053px) {
	.ocultame {
		display: none;
	}

body {
	width: 100%;
}
}

@media (max-width: 913px) {
	.contenedorDatos {
		display: none;
	}
	.contenedorForm{
		width: 100%;
	}
}


/************************************/
/*         AJUSTES EN MENU          */
/************************************/
@media (max-width: 690px) {
	.botonMenu {
		position: absolute;
		display: block;
		float: right;
		top: 20%;
		left: 5%;
		text-align: right;
	}
	body {
		width: 100%;
	}
    .navbar ul {
		display: none;
	}
	.navbar {
		width: 90%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.seoculta {
		display: hidden; 
}


